:root {
	--light-purple: #e8d9ec;
	--primary-white: #f8f8f8;
	--dark-blue: #181d31;
}
.dashboard-container {
	display: flex;
	
}

.dashboard-head {
	display: flex;
	justify-content: space-between;
	color: var(--dark-blue);
	font-weight: 700;
	margin: 1rem;
	padding-top: 2rem;
}


.filter-tasks {
	/* display: flex; */
	border: none;
	border-radius: 1.5rem;
	background-color: var(--light-purple);
	justify-content: center;
	text-align: center;
	/* padding: 5px 10px; */
}

