:root {
	--light-purple: #e8d9ec;
	--primary-white: #f8f8f8;
	--dark-blue: #181d31;
}
.dashboard-container {
	width: 100%;
	display: flex;
	min-height: 100vh;
}

.dashboard-content{
	flex: 1;
	padding: 20px;
	overflow-x: hidden;
}
.dashboard-head {
	width: 100%;
	display: flex;
	justify-content: space-between;
	color: var(--dark-blue);
	font-weight: 700;
	margin: 1rem;
	padding-top: 2rem;
}
@media(max-width:768px){
	.dashboard-head{
		display: block;

	}
}

.filter-tasks {
	border: none;
	border-radius: 1.5rem;
	background-color: var(--light-purple);
	justify-content: center;
	text-align: center;
}

