:root {
	
	--light-purple: #e8d9ec;
	--primary-white: #f8f8f8;
	--pure-white: #ffffff;
	--dark-blue: #181d31;
	


}

.formContainer {
	display: grid;
	justify-self: center;
	align-self: center;
	border-radius: 5px;
	background-color: var(--pure-white);
	padding: 1rem;
	margin: 1rem;
	width: 400px;
	height: 500px;
}

.formContainer h2 {
	margin-bottom: 3rem;
	line-height: 3rem;
	color: var(--dark-blue);
	border-bottom: 1px solid var(--dark-color);
	text-align: center;
	align-items: center;
}

.password-input-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px solid #dee2e6;
	border-radius: 0.375rem;
	padding: 6px 12px;
	font-weight: 400;
	font-size: 1rem;
	background: transparent;
}
.password-input-container input {
	outline: 0;
	border: none;
	width: 100%;
	background: white;
}

form .bton {
	padding: 10px;
	margin-top: 1rem;
	border-radius: 5px;
	border: none;
	background: var(--light-purple);
}

.bton:hover {
	cursor: pointer;
	background-color: var(--dark-blue) !important;
	color: var(--primary-white) !important;
	transform: translateY(3px);
	transition: all 0.3s ease-in-out;
}

.mrg-tp {
	margin-top: 1rem;
	text-align: center;
	align-items: center;
}
.back {
	position: absolute;
	top: 0;
	left: 0;
}
