:root {
	--head-color:#CEA0AA;
	--light-color: #fefefd;
	--main-color: #70788d;
	--dark-color: #4d5361;
	
	
}



.home-layout {
	display: flex;
}

.home-container {
	box-sizing: border-box;
	margin: 1.5rem;
	padding: 1.5rem;
	text-align: justify;
}
.home-container h4 {
	font-weight: 600;
	margin-top: 3rem;
	color: var(--head-color);
}
.home-head{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 60px;
	background-color: var(--big-stone);
	color: var(--yellow-sea);
	font-size: 18px;
	font-weight: 600;
	margin: 10px;
	padding: 16px;

}