.mdl-container{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.5);
    z-index: 1000;
}

.mdl{
    border-radius: 5px;
    background-color: white;
    padding:  2rem;
    width: 50%;
    z-index: 1000;

}

@media(max-width:500px){
    .mdl{
        width: 300px;
        z-index: 1000;
    }
    .mdl-container{
        z-index: 1000;
    }
}

.close{
    cursor: pointer;
}
.mdl-header{
    display: flex;
    justify-content: flex-end;
  

}

.mdl-content{
    margin-bottom: 1rem;
}