:root {
	--light-color: #fefefd;
	--meduim-color: #b4cecf;
	--main-color: #70788d;
	--dark-color: #4d5361;
	--cod-gray: #121211;
	--big-stone: #141c30;
	--smalt-blue: #5b808f;
	--river-bed: #3f4954;

	--yellow-sea: #fbb204;
	--medium-purple: #9374db;
	--cornflower: #8ccbe3;
	--affair: #634082;
	--mischka: #e7e2ea;
	--spicy-mustard: #846213;
	--bermuda: #84bcdc;
	--biloba-flower: #ac98eb;
	--envy: #94a491;
}

.nav-design {
	color: var(--light-color);
	background-color: var(--big-stone);
	height: 100vh;
	padding: 1rem;
}

.logo {
	font-size: 18px;
	/* line-height: 0; */
}
.header {
	display: grid;
	background-color: var(--light-color);
	height: 4rem;
	justify-content: center;
	text-align: center;
}
.head-content {
	display: grid;
	grid-template-columns: 1fr 4fr;
	width: 800px;
	justify-content: space-between;
	align-items: center;
	text-align: center;
}

.regs {
	display: flex;
	background-color: var(--yellow-sea);
	color: var(--big-stone);
	text-decoration: none;
	text-align: center;
	justify-content: center;
	align-items: center;
	border-radius: 0.5rem;
	margin: 0.3rem;
	padding: 0.3rem 1rem;
}

.btn-container {
	justify-content: center;
	align-items: center;
}

.top-section {
	display: flex;
	justify-content: space-between;
	padding: 0.5rem 0.5rem;
}
.link {
	display: flex;
	color: var(--light-color);
	gap: 10px;
	padding: 5px 10px;
	text-decoration: none;
	transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.link:hover {
	border-right: 4px solid var(--yellow-sea);
	background-color: #3f4954;
	color: var(--yellow-sea);
	transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
