:root {

	--light-purple:#e8d9ec;
	--primary-white: #fefefd;
	--dark-blue:#181d31;
	
}

.nav-design {
	
	color: var(--primary-white);
	background-color: var(--dark-blue);
	height: 100vh;
	padding: 1rem;
}

.logo {
	font-size: 18px;
}



.btn-container {
	justify-content: center;
	align-items: center;
}

.top-section {
	display: flex;
	justify-content: space-between;
	padding: 0.5rem 0.5rem;
}
.link {
	display: flex;
	color: var(--primary-white);
	gap: 10px;
	padding: 5px 10px;
	text-decoration: none;
	transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.link:hover {
	border-right: 3px solid var(--light-purple);
	background-color: #3f4954;
	color: var(--light-purple);
	transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
