* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Acme", sans-serif;
	font-weight: 400;
	font-style: normal;
}


  
body{
	background-color: #f2e8c1;
	color: #3c6eae;
	border-color: #2d507f;
}
h1 {
	text-align: center;
	justify-content: center;
	line-height: 3rem;
}
p {
	text-align: justify;
	margin: 20px;
}

button{
	text-align: center;
	outline: 0;
	border: none;
	border-radius: 5px;
	padding: 0.5rem;
	
	
}
